button {
    height: 40px;
    width: 100px;
    color: whitesmoke;
    background-color: grey;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
}
.questions {
    height: 100px;
    width: 500px;
}

.images {
    height: 50px;
    width: 50px;
}
