body {
    background: linear-gradient(50deg, green, yellow);
}

#content {
    background: white;
    width: 400px;
    margin: auto;
    text-align: center;
}

#yourQuestions {
    columns: 100;
    text-align: center;
    transform: translate(-50px);
}

button {
    height: 40px;
    width: 100px;
    color: whitesmoke;
    background-color: grey;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
    position: absolute;
    transform: translate(-190px, 50px);
}
.questions {
    height: 100px;
    width: 500px;
}

.images {
    height: 50px;
    width: 50px;
    transform: translate(100px, 50px);
}
